@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #2c2c2c;
    color: white;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: "Quicksand", sans-serif;
}
.main {
    display: flex;
    gap: 200px;
}
img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    user-select: none;
}

.right {
    max-height: 70vh;
    width: 50vw;
    padding-top: 20vh;
    overflow-y: scroll;
}

.left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.candyButton:hover {
    opacity: 0.9;
    cursor: pointer;
}

.candyButton:active {
    opacity: 0.8;
    transform: scale(1.03);

}
.upgradeImg {
    width: 55px;

}
.upgradeImg:hover {
    width: 65px;
}
.upgradez2 {
    color: white;
    font-family: "Quicksand", sans-serif;
    height: 55px;
    width: 55px;
    border: 4px solid white;
    border-radius: 5px;
    position: absolute;
    margin-left: 6vw;
}

.upgradez3 {
    color: white;
    font-family: "Quicksand", sans-serif;
    height: 55px;
    width: 55px;
    border: 4px solid white;
    border-radius: 5px;
    position: absolute;
    margin-left: 12vw;
}

.upgradez4 {
    color: white;
    font-family: "Quicksand", sans-serif;
    height: 55px;
    width: 55px;
    border: 4px solid white;
    border-radius: 5px;
    position: absolute;
    margin-left: 18vw;
}

.upgradez5 {
    color: white;
    font-family: "Quicksand", sans-serif;
    height: 55px;
    width: 55px;
    border: 4px solid white;
    border-radius: 5px;
    position: absolute;
    margin-left: 0vw;
    margin-top: 130px;
}

.upgrade {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 340px;
    height: 60px;
    border: 4px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-top: 10px;

}

.costInfo {
    display: flex;
    gap: 5px;

}
.currency {
    width: 18px;
    height: 18px;
    align-items: center;
}
.middle2 h4 {
    margin: 0;
    font-style: oblique;
    font-size: larger;
}

.middle2 p {
    margin: 0;
    margin-top: 10px;
}
.upgradeContainer {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.upgrades {
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    width: 45vw;
    max-height: 45vw;
    border-radius: 10vh;
    border-color: #2a2a2a;
    margin: 5vh;
    position: relative;
}

.upgradeContainer.showUpgrades {
    opacity: 1;
    pointer-events: auto;
}

.hardworkingMouseText {
    opacity: 1;
    pointer-events: relative;
}

.hardworkingMouseText.showHardworkingMouseText {
    opacity: 0;
    pointer-events: auto;
}

.TwoTreeText {
    opacity: 1;
    pointer-events: relative;
}

.TwoTreeText.show {
    opacity: 0;
    pointer-events: auto;
}

.TwoFactoryText {
    opacity: 0;
    pointer-events: relative
}

.TwoFactoryText.show {
    opacity: 1;
    pointer-events: auto
}

.TwoCityText {
    opacity: 0;
    pointer-events: relative
}

.TwoCityText.show {
    opacity: 1;
    pointer-events: auto
}

.TwoPlanetText {
    opacity: 0;
    pointer-events: relative
}

.TwoPlanetText.show {
    opacity: 1;
    pointer-events: auto
}

.upgradesButton {
    border-color: #2c2c2c;
    background-color: #2e2e2e;
    color: white;
    font-family: "Quicksand", sans-serif;
    height: 60px;
    width: 375px;
    border: 4px solid white;
    border-radius: 10px;
}
.upgradeButton {
    font-family: "Quicksand", sans-serif;
    padding-top: 20px;
}
.closeUpgrades {
    border-color: #2c2c2c;
    background-color: #2e2e2e;
    color: white;
    font-family: "Quicksand", sans-serif;
    height: 50px;
    width: 50px;
    border: 4px solid white;
    border-radius: 5px;
    margin-top: 17px;
    margin-left: 60vh;
    position: absolute;
}
.upgradeGrid {
    margin-top: 20vh;
    position: absolute;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    height: 45vh;
    width: 45vh;
}

.upgradez {
    position: absolute;
    color: white;
    font-family: "Quicksand", sans-serif;
    height: 55px;
    width: 55px;
    border: 4px solid white;
    border-radius: 5px;
    position: absolute;
}

.upgradeimg {
    height: 100%;
}
.fallOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
    pointer-events: none;
}

.fall1 {
    animation-name: fall;
    animation-duration: 2s;
    position: absolute;
    animation-timing-function: linear;
    pointer-events: none;
}

.clickOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;
    pointer-events: none;
}

.clickOverlay.show {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
}

@keyframes fall{
    0% {
        transform: translateY(-1vh);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.RNGCandy {
  animation: spin 2s infinite;
  scale:220%;
  position: absolute;
  
}
.RNGCandy:hover{
    scale:240%;
    opacity: 0.9;
    cursor: pointer;
}
@keyframes candyRainTextAnim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.CandyRainText {
    animation: candyRainTextAnim 0.4s infinite;
    color: yellow;
    transform-origin: center;
    position: absolute;
}
.BlueCandyH2 {
    position: absolute;
    color: aqua;
    animation-name: blueCandyH2TextFadeOut;
    animation-duration: 500ms;
}
@keyframes blueCandyH2TextFadeOut {
    0% {
        transform: translateY(20vh);
        opacity: 1;
    }
    100% {
        transform: translateY(10vh);
        opacity: 0.3;
    }
}
.purpleCandyH2 {
    position: absolute;
    color: purple;
    animation-name: blueCandyH2TextFadeOut;
    animation-duration: 500ms;
}

::-webkit-scrollbar {
    width: 3vw;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}